.arrow__prev,
.arrow__next {
    background-color: #ffffff;
    cursor: pointer;
}

.arrow__prev:before,
.arrow__next:before {
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-top: 0.2em solid #222222;
    transform: rotate(-45deg);
}

.arrow__prev:before {
    border-left: 0.2em solid #222222;
    transform: rotate(-45deg);
    margin-left: 0.3em;
}

.arrow__next:before {
    border-right: 0.2em solid #222222;
    transform: rotate(45deg);
    margin-right: 0.3em;
}

.arrow__prev:hover,
.arrow__next:hover {
    background-color: pink;
}