.cell {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    font-weight: bold;
}

.cell__dates {
    display: flex;
    flex-flow: column;
    flex-grow: 6;
    flex-basis: 0;
}

.cell__date {
    cursor: pointer;
}

.cell__date:hover {
    background-color: pink;
    border: solid 1px pink;
    color: #ffffff;
}

.calendar .cell__dates .calendar__row {
    flex-grow: 1;
}

.calendar {
    max-width: 280px;
    margin: auto;
    position: relative;
}

.calendar__row {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}